:root {
  --black: #000000;
  --gray-900: #101010;
  --gray-700: #494c4f;
  --gray-300: #c3c2c2;
  --gray-200: #eaeaea;
  --gray-50: #f1fafb;
  --white: #ffffff;
  --green-primary: #278575;
  --green-dark: #134e1a;
  --green-mint: #bbf5dd;
  --orange-accent: #e47d38;
  --blue-brand: #051145;
  --blue-muted: #4b6c97;
  --green-success: #25d366;
  --radius-xl: 32px;
  --radius-sm: 12px;
  --shadow-premium: 0 10px 30px -10px rgba(0, 0, 0, 0.05);

  --font-main: 'Inter', sans-serif;
  --transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}